@import url(http://fonts.googleapis.com/css?family=Concert+One);

h3 {
  animation:glow 10s ease-in-out infinite;  
}

* { box-sizing:border-box; }

body {
  background:#0a0a0a;
  overflow:hidden;
  text-align:center;
}

figure {
  animation:wobble 5s ease-in-out infinite;
  transform-origin:center center;
  transform-style:preserve-3d;
}

@keyframes wobble {
  0%,100%{ transform:rotate3d(1,1,0,40deg); }
  25%{ transform:rotate3d(-1,1,0,40deg); }
  50%{ transform:rotate3d(-1,-1,0,40deg); }
  75%{ transform:rotate3d(1,-1,0,40deg); }
}

h3 {
  /*display:block;
  width:100%;
  padding:40px;
  line-height:1.5;*/
  font:900 3em 'Concert One', sans-serif;
  /*text-transform:uppercase;*/
  position:absolute;
  color:#0a0a0a;
  width:100%;
  top:22%;
  text-align:center;
}

@keyframes glow {
  0%,100%{ text-shadow:0 0 30px red; }
  25%{ text-shadow:0 0 30px orange; }
  50%{ text-shadow:0 0 30px forestgreen; }
  75%{ text-shadow:0 0 30px cyan; }
}

h3:nth-child(3){ transform:translateZ(3px);}
h3:nth-child(4){ transform:translateZ(5px); }
h3:nth-child(5){ transform:translateZ(6px); }
h3:nth-child(6){ transform:translateZ(8px); }
h3:nth-child(7){ transform:translateZ(10px); }
h3:nth-child(8){ transform:translateZ(11px); }
h3:nth-child(9){ transform:translateZ(13px); }
h3:nth-child(10){ transform:translateZ(15px); }